<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>Badge</ion-title>
  </ion-toolbar>

<ion-list>
    <ion-item>
    <ion-label>Configuração do cartão</ion-label>
     <ion-icon name="card-outline"></ion-icon>
     <ion-badge color="tertiary">1</ion-badge>
    </ion-item>
    
    <ion-item>
     <ion-label>Carrinho de Compra</ion-label>
     <ion-icon name="bag-handle-outline"></ion-icon>
    <ion-badge color="danger">3</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Acessibilidade </ion-label>
    <ion-icon name="accessibility-outline"></ion-icon>
    <ion-badge color="tertiary">2</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Chat</ion-label>
  <ion-icon name="logo-wechat"></ion-icon>
  <ion-badge color="tertiary">10</ion-badge>
</ion-item>
  
</ion-list>
</ion-header>


