<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- Lista de itens -->
  </ion-list>
  
  <ion-list>
    <ion-item (click)="presentToast()">
              Relógio Inteligente  - R$ 189,90
       <img src="../../assets/itens-img/imagem.png">
         <ion-avatar slot="end">
           <ion-icon name="add-outline"></ion-icon>
          </ion-avatar>
    </ion-item>   
    
    <ion-item (click)="presentToast2()">
      Câmera De Segurança Ip Wirelles - R$ 188,50
      <img src="../../assets/itens-img/imagem2.png">
        <ion-avatar slot="end">
          <ion-icon name="add-outline"></ion-icon>
         </ion-avatar>
    </ion-item>
    
    <ion-item (click)="presentToast3()">
      Fone de Ouvido Bluetooth R$ 89,90
      <img src="../../assets/itens-img/imagem3.png">
        <ion-avatar slot="end">
           <ion-icon name="add-outline"></ion-icon>
         </ion-avatar>
    </ion-item>
    
    <ion-item (click)="presentToast4()">
      Caixa De Som Bluetooth Portátil Cs-M31Bt - R$ 51,20
        <img src="../../assets/itens-img/imagem4.png">
          <ion-avatar slot="end">
             <ion-icon name="add-outline"></ion-icon>
          </ion-avatar>
    </ion-item>
    
    <ion-item (click)="presentToast5()">
     Carregador portátil Power Bank 20.000mah - R$ 137,19
        <img src="../../assets/itens-img/imagem5.png">
          <ion-avatar slot="end">
            <ion-icon name="add-outline"></ion-icon>
          </ion-avatar>
    </ion-item>
  </ion-list>
  
  
  
 
</ion-content>
